.Income {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    
    height: 100%;
}

.Cards {
    display: flex;
    justify-content: space-evenly;    
}

.Table {
    align-self: center;
    width: 90%;    
}