.ContentHeader {
    background-color: #F1F1F1;
    -webkit-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.37);

    position: relative;
    height: 121px;
    z-index: 99;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.IconSquare {
    margin: 20px 30px 20px 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 85px;

    -webkit-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.09);
    box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.09);
}

.IconSquare svg{
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.Title {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.Title span:first-of-type {
    margin-bottom: 10px;
    font-size: 25px;
    color: #514C4C;
    font-weight: 600;
}

.Title > span ~ span {
    color: #9E9595;
    font-weight: 300;
    font-size: 17px;
}

.HeaderIcons {
    width: 50px;
}

.Notifications {
    position: absolute;
    top: 70px;
    right: 40px;

    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.23); 
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.23);

    width: 310px;
    height: 200px;
    border-radius: 10px;
    
    padding: 10px 5px 10px 10px;

    font-size: 13px;
    font-weight: 100;

    word-wrap: break-word;
    word-break: keep-all;
}

.Notifications hr {    
    border: 0;
    height: 1px;
    background: rgb(189, 187, 187);
}
