.Usuario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    
    color: white;
}

.Usuario img {
    width: 50px;    
}

.Usuario span {
    text-align: center;
}

.Usuario button {
    margin: 0;
    padding: 0;
    cursor: pointer;

    border: none;
    background: none;
    color: inherit;
}

.Hidden {
    max-height: 0px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.Active{
    transition: max-height 0.30s ease-in;
    max-height: 100px;
    overflow: hidden;
}

.SubMenuUsuario ul{   
    margin: 0; 
    padding: 0;
    
    color: white;
    list-style: none;
}

.SubMenuUsuario li{
    display: flex;
    align-items: center;   
    height: 40px;
    padding: 0 20px 0 40px;
}

.SubMenuUsuario li:hover{
    background-color: #E3E1E1;
    color: black;
}

.SubMenuUsuario li svg {
    margin-right: 10px;
}

