.Content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.ContentHeader {
    background-color: #F1F1F1;
    -webkit-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.37);

    position: relative;

    height: 10%;
    z-index: 99;
}

.ContentBody {
    background-color: #EFEFEF;
    height: 100%;    
}