.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    
    color: white;
}

.NavigationItems li a{
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 20px 0 20px;

    outline: none;
    text-decoration: none;
    color: inherit;
}

.NavigationItems li:hover{
    background-color: #E3E1E1;
    color: black;
}

.NavigationItems svg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    fill: currentColor;
}

.NavigationItems svg path{
    fill: currentColor !important;
}

.NavigationItems span {
    font-weight: 600;
}